sudo: required
services:
    - docker

before_install:
    - docker build -t yasubay/react-test -f ./client/Dockerfile.dev ./client

script:
    - docker run -e CI=true USERNAME/react-test npm test

after_success:
    - docker build -t yasubay/multi-client ./client
    - docker build -t yasubay/multi-nginx ./nginx
    - docker build -t yasubay/multi-server ./server
    - docker build -t yasubay/multi-worker ./worker

    # Log in to the docker CLI
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin

    - docker push yasubay/multi-client
    - docker push yasubay/multi-nginx
    - docker push yasubay/multi-server
    - docker push yasubay/multi-worker
